<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <title>Student Dashboard</title>
</head>
<body>
    <h1>LOGIN BERHASIL CUY</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %> </p>
    <% } %> 
    <br>
    <p>Mau ke halaman profilemu sendiri?</p>
    <a href="/ruangturu/profile/<%= userId  %>"><button>Profile</button></a>
    <br><br>
    <p>Forum Gosip Teacher</p>
    <a href="/ruangturu/teacher/dashboard"><button type="button">u Teacher? click here</button></a>
    <h3>Selamat hari <%= showDay()%></h3>
    <br>
    <p> Tampilin Course yang diambil</p>
    <a href="/ruangturu/student/my-course"><button>My Course</button></a>
    <br><br>
    <p>Course Detail</p>
    <a href="/ruangturu/detail-course"><button>Course Detail</button></a>
    <br><br>
    <a href="/ruangturu/student/dashboard"><button>All Course</button></a>
    <form action="" method="get">
        <label>Search Courses:</label>
        <input type="search" name="search">
        <input type="submit" value="submit">
    </form>
    <br><br>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Teacher's Name</th>
            <th>Total Student</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <% let name = [] %>
        <% let total = [] %> 
        <% course.forEach(el => { %>
            <tr>
                <% name.push(el.name) %> 
            <% total.push(el.totalStudent) %> 
                <td><%= el.name %></td>
                <td><%= el.author %> </td>
                <td><%= el.totalStudent %> </td>
                <td><%= el.status %> </td>
                <td><a href="/ruangturu/addClass/<%= el.id %>"><button type="button">Take course</button></a> </td>
            </tr>
        <% }) %>
    </table>
    <div>
        <canvas id="myChart"></canvas>
      </div>
  <script>
      const labels =  '<%- JSON.stringify(name) %>';
      console.log(labels);
    
      const data = {
        labels: labels,
        datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: '<%- JSON.stringify(total) %>',
        }]
      };
    
      const config = {
        type: 'bar',
        data: data,
        options: {}
      };

      const myChart = new Chart(
  document.getElementById('myChart'),
  config
);

    </script> 
</body>
</html>